.panel {
    width: 75%;
    padding: 0 2%;
    .buttons-container {
        background-color: lightblue;
        height: 60px;
        display: flex;
        align-items: center;
        padding: 20px 0 20px 20px; 
        border: 1px solid blue;
        button {
            margin-right: 10px;
            width: 10%;
            height: 50px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            border: 1px solid rgba(3, 138, 255, 0.4);
            box-shadow: 0px 4px 4px rgba(3, 138, 255, 0.4);
            font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
            font-size: 15px;
        }
        .disabled-button {
            cursor: not-allowed;
        }
    }
    .testimonials-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        border: 1px solid blue;
        border-top: none;
        padding: 20px;
        &.isList {
            flex-direction: column;
            .testemonial {
                display: flex;
                flex-direction: row;
                flex-wrap: unset;
                width: 100%;
                .imageOrVideoContainer {
                    width: 40%;
                    height: 100%;
                    align-self: center;
                    img {
                        display: block;
                    }
                }
                .dataContainer {
                    width: 60%;
                }
            }
        }
    }
}