.form-wrapper {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2%;
    background-color: lightblue;
    border: 1px solid blue;
    textarea {
        height: 50px;
        padding: 10px 0 0 10px;
        border: 1px solid blue;
        border-radius: 5px;
        margin-bottom: 30px;
        box-shadow: 0px 4px 4px rgba(3, 138, 255, 0.4);
    }
    .file-input {
        display: none;
    }
    .custom-file-upload {
        cursor: pointer;
        border: 1px solid blue;
        border-radius: 5px;
        background-color: white;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        box-shadow: 0px 4px 4px rgba(3, 138, 255, 0.4);
    }
    .submit-button {
        width: 30%;
        height: 50px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border: 1px solid rgba(3, 138, 255, 0.4);
        box-shadow: 0px 4px 4px rgba(3, 138, 255, 0.4);
    }
}